<section class="middleSection">
      <div class="center container">
<h2>Registration Confirmation!</h2>
<br>

<p>New customer registration confirmed.</p>
<br>

<p><%= link_to 'To Login Form', logins_login_form_path %></p>
<br>
<p><%= link_to 'Show All Logins', logins_show_logins_path %></p>
</div>
</section>