<section class="middleSection">
      <div class="center container">
<br>
<%= image_tag("pokemail.jpg",:size => "520x320", :alt => "logo") %>
<aside><h4>Hi, the site is currently beta but that doesn't halt me from asking for feedback.<br>
In the box below, give me our honest opinion, do you like the website or no?<br>
With the feedback received, I will strive to provide the best viewing experience for all.<br>
A simple "(Yes/No) I (did/didn't) like the website" will do!</h4>

<center>
<form action="thanks.html"> 
<table>
    <tr> 
      <td>Your Email:</td> 
      <td><input type="email" name="usremail"></td>
    </tr>
    <tr>
      <td>Feedback</td> 
      <td><input type="text box" class="input" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Submit"  /></td> 
    </tr>
  </table>

</form> 
</tr>
</div>
</section>