<section class="middleSection">
      <div class="center container">


<h1>Welcome To Our Store</h1>

<p>You successfully Logins. Now you can buy our Pokemon Games. Or Logout</p>
<%= form_tag logins_logout_path, class: 'r' do %>
  <%= submit_tag 'Logout' %>
<% end %>
</div>

</section>